.container {
  width: 245px;
  height: 175px;
  border-radius: 10px;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

.container.dark {
  background-color: #2c3659;
}
