.header {
  height: 60px;
  width: 100vw;
  padding: 0 40px;

  position: fixed;
  top: 0;
  left: 0;

  user-select: none;

  background: #2c3659;

  display: flex;
  align-items: center;
  .logo {
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    color: #f5f5f5;

    margin: auto;

    span:nth-child(2) {
      color: #c5f31d;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    right: 40px;
  }
}
