.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #242b47;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    background-image: url(../../../assets/images/sun.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0px;
    bottom: 0px;
    background-color: #f5f5f5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider:before {
    background-image: url(../../../assets/images/moon.svg);
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
}
